<section class="section">
      <div>
          <h1> Bienvenido...!</h1>
          <p >Creando una aplicación web con Angular</p>
      </div>
      <div class="container">

      <div>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" position-static=true height="100px">
            <div class="carousel-item active">
              <img src="assets/ac2b12c2c8c5.jpg" class="card-img-top" alt="..." height="400px">
            </div>
            <div class="carousel-item">
              <img src="assets/descarga.png" class="d-block w-100" alt="..." height="400px">
              <div class="carousel-caption d-none d-md-block text-dark">
                <h5>Spring Framework</h5>
                <p>Framework utilizado para la implementacion de microservicios, enfocado en sistemas distribuidos.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/desarrollosoftware_41-116547_20190111134203.jpg" height="400px" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Desarrollador FullStack</h5>
                <p>Actualmente es necesario aprender nuevas tecnologias para el desarrollo de software.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>
        </div>
  <div class="card-body">
  <p>  Actualmente Angular es uno de los Framework que mas desarrolladores utilizan
     y adoptan para la implememtación de aplicaciones, por ello es conveniente aprender
     a crear proyectos utilizando esta tecnología que Google a desarrollado.</p>

     <br>
     <p>Para poder iniciar a desarrollar una aplicación con angular es necesario
        contar con las siguientes herramientas:</p>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img src="assets/Node.js_logo.svg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Node.js</h5>
      <h6 class="card-subtitle mb-2 text-muted">Node Package Manager npm</h6>
      <p class="card-text"> Se requiere instalar Node para poder acceder al gestor de paquetes npm</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Node Package Manager npm facilita la administracion modulos, dependendencias, etc. de una manera sencilla. </li>
    </ul>
    <div class="card-body">
      <li class="nav" routerLinkActive="active">
        <a class="nav-link" routerLink="/herramientas">Instalación</a><br>
      </li>
    </div>
  </div>
  <div class="card">
    <img src="assets/typescript.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">TypeScript </h5>
      <p class="card-text">Es un lenguaje de programación orientada a objetos,lenguaje escencial para el desarrollo de aplicaiones angular.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Se recomienda instalar de manera global para poder detectar todos sus componentes. </li>
    </ul>
    <div class="card-body">
      <li class="nav" routerLinkActive="active">
        <a class="nav-link" routerLink="/herramientas">Instalación</a>
      </li>
    </div>
  </div>
  <div class="card">
    <img src="assets/ac2b12c2c8c5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Angular CLI <br> <br> Command Line Interface</h5>
      <p class="card-text">Uno de los elementos principales para la creacion de proyectos Angular.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Para poder hacer uso de ella se requiere tener instalado Node.js y npm. </li>
      <li class="list-group-item">Nos ofrece un servidor embebido para hacer peticiones HTTP </li>
      <li class="list-group-item">Entre los comandos destacados es la creacion de proyectos, ya que te genera de
         manera automatica el esqueleto y configura con una gran cantidad de herramientas. </li>
    </ul>
    <!--typescript-->
    <div class="card-body">
      <li class="nav" routerLinkActive="active">
              <a href="#node" class="card-link">Instalación</a>
      </li>
    </div>
  </div>
</div>
<div >
</div>
<br>
  </div>
  <br>
  <br><br><br>
  <p class="card-text"><small class="text-muted">La unica manera de tener exito es persevervar!</small></p>
</section>
