<div class= "container">
  <div style = "padding:50px;">
    
    <!-- tarjeta para -->
    <div class = "card">
      <h1 class = "card-title"></h1>
      <div class = "card-body">
      </div>
    </div>
    
    <!-- tarjeta para -->
    <div class = "card">
      <h1 class = "card-title"></h1>
      <div class = "card-body">
      </div>
    </div>
    
     <!-- tarjeta para -->
    <div class = "card">
      <h1 class = "card-title"></h1>.
      <div class = "card-body">
      </div>
    </div>
    
    <!-- tarjeta para -->
    <div class = "card">
      <h1 class = "card-title"></h1>
      <div class = "card-body">
      </div>
    </div>
    
  </div>
</div>
